@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide vertical scrollbar */
::-webkit-scrollbar {
  width: 0;
}

/* Hide horizontal scrollbar */
::-webkit-scrollbar {
  height: 0;
}

#__nuxt,
#__layout,
body,
html {
  height: auto;
  min-height: 100vh !important;
  /* background: #f7f7f7; */
  /* overflow: hidden; */
  overflow-x: hidden;
  /* cursor: crosshair; */
  cursor: default;
  /* cursor: url('/CURSOR.svg'), auto !important; */
}

.titleText {
  font-family: "GTWalsheimb";
}

a {
  /* cursor: url('/CURSOR.svg'), auto !important; */
}

svg {
  /* cursor: url('/CURSOR.svg'), auto !important; */
}

.contacttextmb:nth-child(4) .contactsec .contactinner div {
  display: flex;
  justify-content: space-between;
  /* justify-content: space-evenly; */
  flex-direction: row;
}

.contacttextmb:nth-child(4) .contactsec .contactinner div p:nth-child(1) {
  padding-right: 1rem;
}


.abouttextdesk div p{
  padding-bottom: 1rem;
}

.abtextmb div p{
  padding-bottom: .5rem;
}

.abtextmbopen div p{
  padding-bottom: .5rem;
}
/*  

   display: flex;
    justify-content: space-between;
    flex-direction: row; */
#fys-fp-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 600px;
}
#fys-fp-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 600px;
}

.abouttextdesk div {
  width: 83.333333%;
  width: 66.666667%;
  width: 50%;
}

.projecttextarea:nth-child(1) {
  padding-top: 2rem;
  /* padding-bottom: 2rem; */
  font-size: 1.7rem;
  line-height:1.7rem;
  font-family: 'GTWalsheim' !important;
  width: 40%; 
}

.projecttextarea:nth-child(1) .projecttextareati:nth-child(1) {
 display:none;
}

.projectetxt div:nth-child(2) {
  /* padding-bottom: 2rem; */
  /* padding-left: 0rem; */
  /* width: 40%; */
}

.abtextmb div {
  padding-top: 1.25rem;
}

.abtextmb div p:nth-child(2) {
  display: none;
}

.abtextmb div p:nth-child(3) {
  display: none;
}

.abtextmb div p:nth-child(3) {
  display: none;
}

.abtextmb div p:nth-child(4) {
  display: none;
}
.abtextmb div p:nth-child(5) {
  display: none;
}
.abtextmb div p:nth-child(6) {
  display: none;
}
.abtextmb div p:nth-child(7) {
  display: none;
}

.abtextmbopen div p:nth-child(1) {
  display: none;
}

@media (min-width: 768px) {
  .pr-6 {
    padding-right: 0rem !important;
  }
  pr-6 {
    padding-right: 0rem;
  }


}

.content-container {
  transition: transform 0.5s ease; /* Add smooth transition for content movement */
}

.blurry-image {
  filter: blur(5px); /* Adjust the blur amount as needed */
}

.resize-animation {
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out !important;
}
/* html.lenis {
  height: auto;
}


.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
} */

/* Remove default styles for elements with tabindex */
[tabindex] {
  outline: none;
  border: none;
}

/* Optionally add your own styles for focus state if needed */
[tabindex]:focus {
  outline: none;
}

@media (max-width: 768px) {
  .projecttextarea:nth-child(1) {
    width: 100%; 
  }

  .projecttextarea:nth-child(1) .mobileprotext{
    width: 100% !important;
  }
  /* .projectetxt div:nth-child(2).mobileprotext{
    width: 100% !important; 
  } */

  .contacttextmd:nth-child(1){
    padding: 0rem !important;
  }

  .mobileprotext{
    width: 50%; 
  }



  iframe{
    width: 100%; 
  }

  .marquee-1{
    width: 50%; 
  }

  .marquee-2{
    width: 50%; 
  }

  .marquee-3{
    display: none;
  }

  .marquee-4{
    display: none;
  }
}
